<%= form_with model: task, url: tasks_path, method: :post do |task| %>
 <h1>新規投稿</h1>
  <div class="form-group">
   <p>画像</p>
   <%= task.file_field :image, accept: "image/*" %>
  </div>

  <div class="form-group">
     <%= task.text_field :title, placeholder: "題名を記載してください", class: 'form-control' %>
  </div>
  <div class="form-group">
     <%= task.text_area :body, placeholder: "内容を記載してください",  class: 'form-control' %>
  </div>
  <div class="task_submit">
    <%= task.submit '投稿', class: "btn btn-outline-info" %>
  </div>
<% end %>