<h1>Todo Lists</h1>
 <table class="table">
  <thead class="thead-dark">
   <tr>
     <th>Image</th>
     <th>プロフィール画像</th>
     <th>Title</th>
     <th>Body</th>
     <th></th>
     <th></th>
     <th></th>
     <th></th>
   </tr>
  </thead>
  <tbody>
   <% tasks.each do |task| %>
    <tr id="tasks_<%= task.id %>">
     <td>
      <%= link_to task_path(task.id) do %>
       <%if task.image.attached? %>
        <%= image_tag task.get_image(100,100) %>
       <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
       <% end %>
      <% end %>
     </td>
     <td><%#= image_tag tasks.user.get_profile_image(100,100) %></td>
     <td><%= link_to task.title, task_path(task.id) %></td>
     <td><%= task.body %></td>
     <td class="favorite">
      <%= render 'favorites/favorite', task: task %>
     </td>
     <td><%= task.comments.count %>コメント</td>
     <td>
      <% if task.user == current_user %>
       <%= link_to '編集', edit_task_path(task.id), class: 'btn btn-warning' %>
      <% end %>
      </td>
     <td>
      <% if task.user == current_user %>
       <%= link_to '削除', task_path(task.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に削除しますか？" %>
      <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

 <%= paginate tasks %>