<h1>User List</h1>
 <table class="table">
  <thead class="thead-dark">
   <tr>
     <th>Image</th>
     <th>Nmae</th>
     <th>Introduction</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
   <% users.each do |users| %>
    <tr>
     <td><%= image_tag users.get_profile_image(100,100) %></td>
     <td><%= users.name %></td>
     <td><%= users.introduction %></td>
     <td>
      <% if users == current_user %>
       <%= link_to '編集', edit_user_path(users.id), class: 'btn btn-warning' %>
      <% end %>
     </td>
    </tr>
   <% end %>
  </tbody>
</table>

 <%= paginate users %>