<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/bda6a2c1b1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class="navber navbar-expand-lg navbar-light bg-dark">
     <div class="container">
       <div class="row">
         <div class="col-md-3  mt-3 mb-3">
             <%= link_to about_path do %>
               <i class="fa-solid fa-clipboard-list fa-2xl " style="color: #ffffff;"></i>
             <% end %>
         </div>
         <div class="ml-auto">
           <ul class="navbar-nav mt-3">

            <% if user_signed_in? %>

             <li class="nav-item mr-2">
               <%= link_to '/' do %>
                 <i class="fa-solid fa-house" style="color: #ffffff;">ホーム</i>
               <% end %>
              </li>
             <li class="nav-item mr-2">
               <%= link_to users_path do %>
                 <i class="fa-solid fa-users" style="color: #ffffff;">ユーザー一覧</i>
               <% end %>
              </li>
             <li class="nav-item mr-2">
               <%= link_to tasks_path do %>
                <i class="fa-solid fa-list-check" style="color: #ffffff;">リスト一覧</i>
               <% end %>
             </li>
             <li class="nav-item mr-2">
               <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;">ログアウト</i>
               <% end %>
              </li>

            <% else %>

             <li class="nav-item mr-2">
               <%= link_to '/' do %>
                 <i class="fa-solid fa-house" style="color: #ffffff;">ホーム</i>
               <% end %>
              </li>
             <li class="nav-item mr-2">
               <%= link_to new_user_registration_path do %>
                 <i class="fa-solid fa-user-plus" style="color: #ffffff;">新規登録</i>
               <% end %>
              </li>
             <li class="nav-item mr-2">
               <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;">ログイン</i>
               <% end %>
             </li>
             <li class="nav-item mr-2">
               <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;">ログアウト</i>
               <% end %>
              </li>

             <% end %>

           </ul>
        </div>
       </div>
     </div>
    </nav>
   </header>

   <main>
    <%= flash[:notice] %>
    <%= yield %>
   </main>

  <footer></footer>
  </body>
</html>
